VITE_SUPABASE_URL=https://plllmvaukjikqxsydftq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbGxtdmF1a2ppa3F4c3lkZnRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxMTE5ODYsImV4cCI6MjEwNTY4Nzk4Nn0.bDNYwa0dyNzov6WF2ExY7O4PledR6OaD2vWnYoOPvCc
